@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.jumbotron {
  margin: 50px auto 0 auto;
}

.left-pannel {
  background-color: aliceblue;
}

.center-pannel {
  background-color: lightgoldenrodyellow;
}

.right-pannel {
  background-color: blanchedalmond;
}

.btn {
  border-radius: 0px;
  border-width: 2px;
  font-weight: bold;
}
