@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";
/*
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.jumbotron {
  margin: 50px auto 0 auto;
}
*/
body {
  margin-left: 1em;
  margin-right: 1.5em;
}
.left-panel, .center-panel, .right-panel {
  border: 3px solid #2A6496;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
}

.left-panel {
  // background-color: aliceblue;
  margin-right: 0em;
}

.center-panel {
  // background-color: lightgoldenrodyellow;
  margin-right: 0em;
  margin-left: 0em;
}

.right-panel {
  // background-color: blanchedalmond;
  margin-left: 0em;
}

.left-panel h3,
.center-panel h3,
.right-panel h3 {
  text-align: center;
  clear: none;
}

.btn {
  border-radius: 0px;
  border-width: 2px;
  font-weight: bold;
}

.mono {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.question-comment {
  font-style: italic;
}

footer {
  border-top: 3em solid white;
  padding-top: 1em;
  padding-right: 1em;
  background-color: #3B3B3B;
  color: white;
}

li.footer_title {
  font-weight: bolder;
  list-style-type:none;
  text-align: center;
  color: inherit;
}

li.footer_text {
  list-style-type:none;
  text-align: left;
  color: inherit;
}

li.footer_text a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

.empty-place-info {
  border: 3px dashed #2A6496;
  border-radius: 8px;
  padding: 1em;
  margin: 2em;
  min-height: 6em;
  text-align: center;
  vertical-align: -50%;
}

.empty-place-info p {
  vertical-align: -50%;
}

.btn-info {
  color: #2A6496;
  background-color: #FFF;
  border-color: #2A6496;
}

.btn-info:hover {
  color: #39B3D7;
  background-color: #FFF;
  border-color: #39B3D7;
}

.nav-bar-row, a.navbar-brand, #myNavbar, #myNavbar a {
    background-color: #2A6496;
    color: white;
}

.navbar-header, div#myNavbar {
    /*padding-bottom: 20px;*/
    /*background-color: rgb(66, 139, 202);*/
    min-height: 50px;
}

.nav-bar-row {
    background-color: #2A6496;
    color: white;
    padding: 1em;
    margin: 0em;
    margin-bottom: 2em;
}

#text_gift_input {
  resize: vertical;
}
